<div class="container">
    <h2>Om webbplatsen</h2>
            
    <section>
        <h3>Webbplats beskrivning</h3>
        <p>
            I denna webbplats, kan anvädnare se vilka jobberfarenheter som är tillagda i databasen och api:et, ändra eller radera de befintliga, och lägga till nytt inlägg samt spara det i databasen och api:et.              
        </p> 
        <p>
            För databas-server har jag använt MongoDB, som är dokuments-baserad NoSQL-databas och erbjuder flexibel datamodell som är lämplig för ostrukturerade datamängder. 
        </p> 
        <p>
            Webbplatsen består av tre sidor:
        </p>
        <ul>
            <li>
                Startsida som visar tabell som innehåller sparade inlägg i databasen, där användare kan ändra eller radera kurser.
            </li>
            <li>
                Lägg till nytt inlägg som innehåller formulär där användare kan mata in en ny jobberfarenhet, så den blir lagrad i databasen, vidarebefordras till startsidan och syns i tabellen.
            </li>
            <li>
                Om webbplatsen: (Denna sida) som innehåller beskrivning av webbplatsen, dess syfte samt information om vilken databas-server som har använts.
            </li>
        </ul>
    </section>
    <section>
        <h3>Slutsatser av uppgiften</h3>
        <p>
            Uppgiften har givit mig mycket goda kunskaper om NoSQL-databaser, deras fördelar i jämförelse med traditionella relationsdatabaser, hur de är flexibla och effektiva för stora och ostrukturerade datamängder, vilka olika databas-system de, dessutom deras nackdelar. 
        </p>
        <p>
            Uppgiften har givit mig även specifika och praktiska kunskaper om MongoDB, vilket NoSQL-databas-system den har, den innehåller datatyper såsom textsträng, nummer, booleska, datum, array samt objekt av olika datatyper, samt vilka användarroller samt behörighet är utdelade mellan användarna.
        </p>
        <p>
            Slutligvis har uppgiften bedragit till fördjupat förståelse hur NoSQL-databaser och spe-ciellt MongoDB är kraftfulla, skalbara och kostnadseffektiva för att hantera stora mäng-der av data och när de är flexibla alternativ för SQL-databaser.
        </p>
    </section>
</div>

